@media (max-width: 320px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    height: 100%;
  }
  body {
    background-color: #a4c4d4;
    font-family: "Times New Roman", Times, serif;
    height: 100%;
    display: grid;
    gap: 1em;
    grid-template-areas: "nav" "header" "main" "footer";
    grid-template-rows: 1fr 15% 1fr 1fr;
  }
  body nav {
    grid-area: nav;
    text-align: end;
    font-size: 1.3em;
    background-color: #3c7cc4;
  }
  body nav ul {
    display: flex;
    text-align: center;
    list-style: none;
  }
  body nav ul li {
    margin: 3px;
  }
  body nav ul li a {
    text-decoration: none;
    color: black;
  }
  body header {
    grid-area: header;
    text-align: center;
    font-size: 1.4em;
    padding: 1em;
    text-decoration: underline;
    background-color: #3c7cc4;
  }
  body main {
    grid-area: main;
    background-color: #3c7cc4;
  }
  body main div iframe {
    padding: 1em;
    width: 100%;
    height: 15em;
  }
  body main div p {
    text-align: center;
    font-size: 1.4em;
  }
  body footer {
    grid-area: footer;
    text-align: center;
    font-size: 1.4em;
    background-color: #3c7cc4;
  }
}
@media (min-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    height: 100%;
  }
  body {
    background-image: url(./imagenes/aconcagua.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-areas: ". nav nav" "header header ." "main main main" "footer footer footer";
    grid-template-rows: 10% 18% 1fr 6%;
    grid-template-columns: 2fr 5fr 1fr;
    gap: 1em;
  }
  body nav {
    grid-area: nav;
    background-color: rgba(60, 124, 196, 0.5411764706);
  }
  body nav ul {
    display: flex;
    justify-content: end;
    list-style: none;
    margin: 1em;
  }
  body nav ul li a {
    text-decoration: none;
    margin: 1em;
    font-size: 1.8em;
    color: black;
  }
  body header {
    grid-area: header;
    background-color: rgba(60, 124, 196, 0.5411764706);
    padding: 1em;
  }
  body header h1 {
    text-decoration: underline;
    text-align: start;
    font-size: 3.5em;
  }
  body header h2 {
    text-decoration: underline;
    text-align: start;
    font-size: 2.5em;
    padding: 0.5;
  }
  body main {
    grid-area: main;
    background-color: rgba(60, 124, 196, 0.5411764706);
    padding: 1em;
  }
  body main div {
    display: flex;
    justify-content: center;
  }
  body main div iframe {
    margin-bottom: 1em;
  }
  body main div {
    display: flex;
    text-align: start;
  }
  body main div p {
    font-size: 1.4em;
  }
  body footer {
    grid-area: footer;
    background-color: rgba(60, 124, 196, 0.5411764706);
    font-size: 1.8em;
    text-align: center;
    padding: 0.5em;
  }
}
@media (max-width: 320px) {
  body main div {
    display: flex;
    display: block;
  }
  body main div img {
    height: 11em;
    width: 90%;
    margin: 1em;
    border: 10px solid #143464;
  }
  body main div {
    display: flex;
    display: block;
  }
  body main div .video {
    width: 20em;
    height: 11em;
  }
}
@media (min-width: 1024px) {
  body main div {
    display: flex;
    padding: 1em;
  }
  body main div img {
    width: 22em;
    height: 18em;
    border: 1em solid #54a4e4;
  }
  body main div .video {
    width: 44em;
    height: 18em;
    border: 1em solid #54a4e4;
  }
}
@media (max-width: 320px) {
  body main p {
    text-align: start;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
  }
}
@media (min-width: 1024px) {
  body main p {
    text-align: start;
    font-size: 1.3em;
    font-weight: bold;
  }
}
@media (max-width: 320px) {
  body main .div-s-i {
    display: flex;
    display: block;
    align-items: center;
    justify-content: center;
  }
  body main .div-e {
    margin: 1em;
  }
  body main .div-e a {
    display: block;
    text-align: center;
    margin: 0.5em;
    font-size: 1.3em;
    color: black;
  }
}
@media (min-width: 1024px) {
  body main .div-e a {
    margin: 2em;
    font-size: 2em;
    color: black;
  }
}

/*# sourceMappingURL=style.css.map */
