// Galeria.html
@media (max-width: 480px){
   body{
      main{
         .div-g{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
               @include imagen(340px, 200px);
            }
         }
         div{
            .video{
               @include imagen(380px, 200px)
            }
         }
      }
   }
}
@media (max-width: 767px)and (min-width:481px){
   body{
      main{
         .div-g{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
               @include imagen(400px, 250px);
            }
         }
         div{
            .video{
               @include imagen(450px, 300px);
            }
         }
      }
   }
}
@media (min-width: 768px)and (max-width: 1024px) {
   main{
      .div-g{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         img{
            @include imagen(400px, 250px);
         }
      }
      div{
         .video{
            @include imagen(450px, 300px);
         }
      }
   }
}

@media (min-width: 1025px)and (max-width: 1366px){
   body{
      main{
         .div-g{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
               @include imagen(400px, 250px);
            }
         }
         div{
            .video{
               @include imagen(450px, 300px);
            }
         } 
      }
   }
}
@media (min-width: 1367px){
   body{
      .div-g{
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         .img{
            width: 300px;
            height: 200px;
         }
      }
      div{
         .video{
            width: 500px;
            height: 250px;
         }
      }
   }
}