// index.html

@media (max-width: $sm) {
   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }

   html {
      height: 100%;
   }

   body {
      background-color: $color5;
      font-family: 'Times New Roman', Times, serif;
      height: 100%;
      display: grid;
      gap: 1em;
      grid-template-areas:
         "nav"
         "header"
         "main"
         "footer";
      grid-template-rows: 1fr 15% 1fr 1fr;

      nav {
         grid-area: nav;
         text-align: end;
         font-size: 1.3em;
         background-color: $color1;

         ul {
            display: flex;
            text-align: center;
            list-style: none;

            li {
               margin: 3px;

               a {
                  text-decoration: none;
                  color: $color6;
               }
            }
         }
      }

      header {
         grid-area: header;
         text-align: center;
         font-size: 1.4em;
         padding: 1em;
         text-decoration: underline;
         background-color: $color1;
      }

      main {
         grid-area: main;
         background-color: $color1;
         div{
            iframe {
               padding: 1em;
               width: 100%;
               height: 15em;
            }
            p{
               text-align: center;
               font-size: 1.4em;
            }
         }
      }

      footer {
         grid-area: footer;
         text-align: center;
         font-size: 1.4em;
         background-color: $color1;
      }
   }
}

@media (min-width:1024px){
   *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }
   html{
      height: 100%;
   }
   body{
      background-image: url(./imagenes/aconcagua.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      display: grid;
      grid-template-areas: 
      ". nav nav"
      "header header ."
      "main main main"
      "footer footer footer";
      grid-template-rows: 10% 18% 1fr 6%;
      grid-template-columns: 2fr 5fr 1fr;
      gap: 1em;
      nav{
         grid-area: nav;
         background-color: $opacity1;
         ul{
            display: flex;
            justify-content: end;
            list-style: none;
            margin: 1.5em;
            li{
               a{
                  text-decoration: none;
                  margin: 20px;
                  font-size: 1.8em;
                  color: $color6;
               }
               a::after{
                  content: '';
                  width: 0;
                  height: 5px;
                  background-color: white;
                  margin: 8.4px;
                  display: block;
               }
               a:hover::after{
                  width: 100%;
                  transition: width 0.4s;
               }
               a:hover{
                  color: white;
               }
            }
         }
      }
      header{
         grid-area: header;
         background-color: $opacity1;
         padding: 1em;
         h1{
            text-decoration: underline;
            text-align: start;
            font-size: 3.5em;
            animation-name: cambiarcolor;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
         }
         h2{
            text-decoration: underline;
            text-align: start;
            font-size: 2.5em;
            padding: 0.5;
            animation-name: cambiarcolor;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
         }
         @keyframes cambiarcolor{
            0%{
               color: white;
            }
            100%{
               color: black;
            }
         }  
      }
      main{
         grid-area: main;
         background-color: $opacity1;
         padding: 1em;
         div{
            display: flex;
            justify-content: center;
            iframe{
               margin-bottom: 1em;
            }
         }
         div{
            display: flex;
            text-align: start;
            p{
               font-size: 1.4em;
            }
         }
      }
      footer{
         grid-area: footer;
         background-color: $opacity1;
         font-size: 1.8em;
         text-align: center;
         padding: 0.5em;
      }
   }
}