$color1: #3c7cc4;
$color2: #54a4e4;
$color3: #143464;
$color4: #547ca4;
$color5: #a4c4d4;
$color6: black;

$opacity1: #3c7cc48a;

// use el mixin para pas imagenes y el video
@mixin imagen($ancho, $alto){
   width: $ancho;
   height: $alto;
   margin: 1em;
   border: 10px solid $color3;
}
